body {
    height: 100%; 
    background-image: url(../images/Violin.jpg);;
    background-position: 100% 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    border-style: solid 5px red;
}

#wrapper {
    width: 860px;
    min-height: 80%;
    box-sizing: border-box;
    padding: 5% 0;
    margin: 5% auto;
    background-color: rgba(247, 238, 229, 0.85);
    text-align: center;
    border-radius: 50%;
  }
  
  #sub-wrapper {
    position: relative;
    top: 20%;
    text-align: center;
  }

  h1, p {
      font-family: cursive;
  }

  h1 {
      text-shadow: 1px 1px whitesmoke;
  }

#start {
    background-color: brown;
    width: 115px;
    height: 75px;
    font-size: 18pt;
    font-family: cursive;
    margin-top: 20px;
    border-radius: 50%;
}

#playAgain {
    background-color: brown;
    width: 125px;
    height: 75px;
    font-size: 18pt;
    font-family: cursive;
    margin-top: 20px;
    border-radius: 50%;
}

#quiz-area h2 {
    margin-top: 50px;
    text-align: center;
  }
  
  button:hover {
    background: brown;
    border: 2px solid black;
    border-radius: 50%;
  }
  
  button {
    display: block;
    width: 400px;
    height: 100px;
    margin: 10px auto 0;
    font-size: 42px;
    cursor: pointer;
    background: transparent;
    border: 0;
  }

  #done {
    font-family: cursive;
  }